#favorite-container{
    display: flex;
    padding: 30px;
    justify-content: center;
 }
 .favorite-cards{
     display: flex;
     flex-direction: column;
     align-self: center;
    padding: 20px;
    margin-top: 50px;
 }
 .favorite-headline{
     display: flex;
     justify-content: center;
     padding: 10px;
     box-shadow: 5px 10px 18px #888888;
     border-radius: 15px;
     position: fixed;
     font-weight: bold;
     font-family:Arial, Helvetica, sans-serif;
     border: solid 1px black;
     width: 300px;
 }